src/test/resources/QuerySalesPriceListIn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/A1S/Global"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:tns="http://sap.com/xi/A1S/Global"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:n2="http://sap.com/xi/AP/Common/Global"
>
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                        xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                        wsp:Optional="true"/>
        <saptrnbnd:OptimizedMimeSerialization
                xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"/>
        <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:HttpBasicAuthentication/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sapsp:HTTPSSO2/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                              wsp:Optional="true"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN_BN_binding">
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                        xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                        wsp:Optional="true"/>
        <saptrnbnd:OptimizedMimeSerialization
                xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"/>
        <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:HttpBasicAuthentication/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sp:RequireClientCertificate/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                     xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                     xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                        <sapsp:HTTPSSO2/>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                              wsp:Optional="true"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF_IF_QuerySalesPriceListIn">
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration
                xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                wsp:Optional="true">
            <sapcentraladmin:BusinessApplicationID>00163E0E38A91EE5A0EA1EF9F50929A6
            </sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_IF_OP_FindByTypeCodeAndPropertyIDAndPropertyValue">
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
        </sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
        </sapblock:enableBlocking>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
        </saptrhnw05:required>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
        </saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global"
                    xmlns="http://sap.com/xi/SAPGlobal20/Global">
            <xsd:import namespace="http://sap.com/xi/A1S/Global"/>
            <xsd:element name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQuery_sync"
                         type="xi2:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueMessage"/>
            <xsd:element name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponse_sync"
                         type="xi2:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponseMessage"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global"
                    xmlns="http://sap.com/xi/AP/Common/Global">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByCode">
                <xsd:sequence>
                    <xsd:element name="InclusionExclusionCode" type="xi4:InclusionExclusionCode"
                                 minOccurs="0"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi4:IntervalBoundaryTypeCode"/>
                    <xsd:element name="LowerBoundaryCode" type="xi3:Code" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryCode" type="xi3:Code" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StandardFaultMessageExtension">
                <xsd:sequence>
                    <xsd:element name="Log" type="xi4:Log" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="StandardFaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                        <xsd:element name="addition" type="StandardFaultMessageExtension"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/A1S/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/AP/FO/PriceAndTax/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:complexType name="DateTimeInterval">
                <xsd:sequence>
                    <xsd:element name="LowerBoundaryDateTime" type="xi3:GLOBAL_DateTime" minOccurs="0"/>
                    <xsd:element name="UpperBoundaryDateTime" type="xi3:GLOBAL_DateTime" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueMessage">
                <xsd:sequence>
                    <xsd:element name="SalesPriceList"
                                 type="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQueryElements"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                    name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQueryElements">
                <xsd:sequence>
                    <xsd:element name="ID" type="xi4:SalesPriceListID" minOccurs="0"/>
                    <xsd:element name="ReleaseStatusCode" type="xi4:ReleaseStatusCode" minOccurs="0"/>
                    <xsd:element name="MultipleReleaseStatusCode" type="xi1:SelectionByCode" minOccurs="0"/>
                    <xsd:element name="PriceSpecificationListReleaseStatusCode" type="xi4:ReleaseStatusCode"
                                 minOccurs="0"/>
                    <xsd:element name="ApprovalStatusCode" type="xi4:ApprovalStatusCode" minOccurs="0"/>
                    <xsd:element name="ConsistencyStatusCode" type="xi4:ConsistencyStatusCode" minOccurs="0"/>
                    <xsd:element name="ValidityPeriod" type="xi4:TimePointPeriod" minOccurs="0"/>
                    <xsd:element name="CreationDateTimeInterval" type="DateTimeInterval" minOccurs="0"/>
                    <xsd:element name="LastChangedDatetimeInterval" type="DateTimeInterval" minOccurs="0"/>
                    <xsd:element name="TypeCode" type="xi4:SalesPriceListTypeCode" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation1"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation2"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation3"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation4"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation5"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation6"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation7"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation8"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation9"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element name="PropertyValuationPriceSpecificationElementPropertyValuation10"
                                 type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation1"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation2"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation3"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation4"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation5"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation6"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation7"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation8"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation9"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                    <xsd:element
                            name="PriceSpecificationPropertyValuationPriceSpecificationElementPropertyValuation10"
                            type="xi4:PriceSpecificationElementPropertyValuation" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                    name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponseElements1">
                <xsd:sequence>
                    <xsd:element name="UUID" type="xi4:UUID"/>
                    <xsd:element name="ID" type="xi4:SalesPriceListID"/>
                    <xsd:element name="Status" type="xi6:SalesPriceListStatus"/>
                    <xsd:element name="PropertyValueSearchText" type="xi4:SearchText" minOccurs="0"/>
                    <xsd:element name="TypeCode" type="xi4:SalesPriceListTypeCode"/>
                    <xsd:element name="CurrencyCode" type="xi4:CurrencyCode"/>
                    <xsd:element name="ValidityPeriod" type="xi4:TimePointPeriod"/>
                    <xsd:element name="SystemAdministrativeData" type="xi4:SystemAdministrativeData"/>
                    <xsd:element name="NotReleasedPriceSpecificationElementsIntegerValue"
                                 type="xi4:IntegerValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                    name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponseMessage">
                <xsd:sequence>
                    <xsd:element name="SalesPriceList"
                                 type="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponseElements1"
                                 minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Log" type="xi4:Log" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns="http://sap.com/xi/BASIS/Global">
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="16"/>
                    <xsd:enumeration value="17"/>
                    <xsd:enumeration value="84"/>
                    <xsd:enumeration value="107"/>
                    <xsd:enumeration value="109"/>
                    <xsd:enumeration value="112"/>
                    <xsd:enumeration value="113"/>
                    <xsd:enumeration value="114"/>
                    <xsd:enumeration value="116"/>
                    <xsd:enumeration value="117"/>
                    <xsd:enumeration value="124"/>
                    <xsd:enumeration value="130"/>
                    <xsd:enumeration value="131"/>
                    <xsd:enumeration value="138"/>
                    <xsd:enumeration value="142"/>
                    <xsd:enumeration value="146"/>
                    <xsd:enumeration value="262"/>
                    <xsd:enumeration value="296"/>
                    <xsd:enumeration value="310"/>
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Code">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:token">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:dateTime">
                        <xsd:attribute name="timeZoneCode" type="TimeZoneCode"/>
                        <xsd:attribute name="daylightSavingTimeIndicator" type="xsd:boolean"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern
                            value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TimeZoneCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global"
                    xmlns="http://sap.com/xi/AP/Common/GDT">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:simpleType name="ApprovalStatusCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="7"/>
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ConsistencyStatusCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Duration">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Duration</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:duration">
                    <xsd:pattern value=".{1,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="InclusionExclusionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntegerValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntervalBoundaryTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="Log">
                <xsd:sequence>
                    <xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"
                                 minOccurs="0"/>
                    <xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
                    <xsd:element name="Item" type="LogItem" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:sequence>
                    <xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0"/>
                    <xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0"/>
                    <xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
                    <xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"
                                 minOccurs="0"/>
                    <xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name"
                                 minOccurs="0"/>
                    <xsd:element name="Note" type="LogItemNote"/>
                    <xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText" minOccurs="0"/>
                    <xsd:element name="LogItemNotePlaceholderSubstitutionList"
                                 type="LogItemNotePlaceholderSubstitutionList" minOccurs="0"/>
                    <xsd:element name="WebURI" type="WebURI" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
                <xsd:sequence>
                    <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID"
                                 minOccurs="0"/>
                    <xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
                    <xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID"
                                 minOccurs="0"/>
                    <xsd:element name="FirstPlaceholderSubstitutionText"
                                 type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element name="SecondPlaceholderSubstitutionText"
                                 type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
                    <xsd:element name="ThirdPlaceholderSubstitutionText"
                                 type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
                    <xsd:element name="FourthPlaceholderSubstitutionText"
                                 type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="LogItemNoteTemplateText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="73"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTemplatePlaceholderID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PriceSpecificationElementPropertyDefinitionClassCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PriceSpecificationElementPropertyDefinitionClassCode.Content">
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PriceSpecificationElementPropertyDefinitionClassCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PriceSpecificationElementPropertyID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PriceSpecificationElementPropertyID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PriceSpecificationElementPropertyID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PriceSpecificationElementPropertyReference">
                <xsd:sequence>
                    <xsd:element name="PriceSpecificationElementPropertyID"
                                 type="PriceSpecificationElementPropertyID"/>
                    <xsd:element name="PriceSpecificationElementPropertyDefinitionClassCode"
                                 type="PriceSpecificationElementPropertyDefinitionClassCode" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceSpecificationElementPropertyValuation">
                <xsd:sequence>
                    <xsd:element name="IdentifyingIndicator" type="Indicator"/>
                    <xsd:element name="PriceSpecificationElementPropertyReference"
                                 type="PriceSpecificationElementPropertyReference"/>
                    <xsd:element name="PriceSpecificationElementPropertyValue"
                                 type="PriceSpecificationElementPropertyValue"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceSpecificationElementPropertyValue">
                <xsd:sequence>
                    <xsd:element name="Code" type="PriceSpecificationElementPropertyValuesCode"
                                 minOccurs="0"/>
                    <xsd:element name="ID" type="PriceSpecificationElementPropertyValuesID" minOccurs="0"/>
                    <xsd:element name="IntegerValue" type="IntegerValue" minOccurs="0"/>
                    <xsd:element name="Date" type="Date" minOccurs="0"/>
                    <xsd:element name="Time" type="Time" minOccurs="0"/>
                    <xsd:element name="Indicator" type="Indicator" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PriceSpecificationElementPropertyValuesCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PriceSpecificationElementPropertyValuesCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PriceSpecificationElementPropertyValuesCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PriceSpecificationElementPropertyValuesID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PriceSpecificationElementPropertyValuesID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PriceSpecificationElementPropertyValuesID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReleaseStatusCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="7"/>
                    <xsd:enumeration value="8"/>
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SalesPriceListID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="SalesPriceListID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="SalesPriceListID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SalesPriceListTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="SalesPriceListTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="SalesPriceListTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SearchText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="SystemAdministrativeData">
                <xsd:sequence>
                    <xsd:element name="CreationDateTime" type="xi3:GLOBAL_DateTime"/>
                    <xsd:element name="CreationIdentityUUID" type="UUID" minOccurs="0"/>
                    <xsd:element name="LastChangeDateTime" type="xi3:GLOBAL_DateTime" minOccurs="0"/>
                    <xsd:element name="LastChangeIdentityUUID" type="UUID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Time">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="TimePoint">
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="TimePointTypeCode"/>
                    <xsd:element name="Date" type="Date" minOccurs="0"/>
                    <xsd:element name="Time" type="Time" minOccurs="0"/>
                    <xsd:element name="DateTime" type="xi3:DateTime" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TimePointPeriod">
                <xsd:sequence>
                    <xsd:element name="IntervalBoundaryTypeCode" type="IntervalBoundaryTypeCode"/>
                    <xsd:element name="StartTimePoint" type="TimePoint" minOccurs="0"/>
                    <xsd:element name="EndTimePoint" type="TimePoint" minOccurs="0"/>
                    <xsd:element name="Duration" type="Duration" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="TimePointTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="36"/>
                    <xsd:pattern
                            value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/AP/FO/PriceAndTax/Global"
                    xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
                    xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/A1S/Global"
                    xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT"
                    xmlns:xi6="http://sap.com/xi/AP/FO/PriceAndTax/Global"
                    xmlns="http://sap.com/xi/AP/FO/PriceAndTax/Global">
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="SalesPriceListStatus">
                <xsd:sequence>
                    <xsd:element name="ReleaseStatusCode" type="xi4:ReleaseStatusCode"/>
                    <xsd:element name="PriceSpecificationListReleaseStatusCode" type="xi4:ReleaseStatusCode"/>
                    <xsd:element name="ConsistencyStatusCode" type="xi4:ConsistencyStatusCode"/>
                    <xsd:element name="ApprovalStatusCode" type="xi4:ApprovalStatusCode"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQuery_sync">
        <wsdl:part name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQuery_sync"
                   element="n1:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQuery_sync"/>
    </wsdl:message>
    <wsdl:message name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponse_sync">
        <wsdl:part name="SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponse_sync"
                   element="n1:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponse_sync"/>
    </wsdl:message>
    <wsdl:message name="StandardFaultMessage">
        <wsdl:part name="StandardFaultMessage" element="n2:StandardFaultMessage"/>
    </wsdl:message>
    <wsdl:portType name="QuerySalesPriceListIn">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="AP-PMD-SPL"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_IF_QuerySalesPriceListIn"/>
        </wsp:Policy>
        <wsdl:operation name="FindByTypeCodeAndPropertyIDAndPropertyValue">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_IF_OP_FindByTypeCodeAndPropertyIDAndPropertyValue"/>
            </wsp:Policy>
            <wsdl:input
                    message="tns:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueQuery_sync"/>
            <wsdl:output
                    message="tns:SalesPriceListFindByTypeCodeAndPropertyIDAndPropertyValueResponse_sync"/>
            <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding_SOAP12" type="tns:QuerySalesPriceListIn">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_BN_binding_SOAP12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="FindByTypeCodeAndPropertyIDAndPropertyValue">
            <wsoap12:operation
                    soapAction="http://sap.com/xi/A1S/Global/QuerySalesPriceListIn/FindByTypeCodeAndPropertyIDAndPropertyValueRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <wsoap12:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="binding" type="tns:QuerySalesPriceListIn">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_BN_binding"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="FindByTypeCodeAndPropertyIDAndPropertyValue">
            <soap:operation
                    soapAction="http://sap.com/xi/A1S/Global/QuerySalesPriceListIn/FindByTypeCodeAndPropertyIDAndPropertyValueRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardFaultMessage">
                <soap:fault name="StandardFaultMessage" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="service">
        <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
            <wsoap12:address
                    location="https://my343730.sapbydesign.com/sap/bc/srt/scs/sap/querysalespricelistin?sap-vhost=my343730.sapbydesign.com"/>
        </wsdl:port>
        <wsdl:port name="binding" binding="tns:binding">
            <soap:address
                    location="https://my343730.sapbydesign.com/sap/bc/srt/scs/sap/querysalespricelistin?sap-vhost=my343730.sapbydesign.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>